/*** MEDIA QUERY - MOBILE FIRST ***/
/*(min-width=da valore fino a infinito)*/

/* @media all and (min-width: 576px) {}

@media all and (min-width: 768px) {}

@media all and (min-width: 992px) {}

@media all and (min-width: 1200px) {}

@media all and (min-width: 1400px) {} */

/*** MEDIA QUERY - DESKTOP FIRST ***/
/*(max-width=da 0 fino a valore)*/

/* @media all and (max-width: 1400px) {}

@media all and (max-width: 1200px) {}

@media all and (max-width: 992px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 576px) {} */

@media screen and (max-width: 1200px) {

  .playlists,
  .playlists-container ul {
    flex-wrap: wrap;
  }

  .single-playlist {
    width: calc((100% - 60px) / 4);
  }

  /*Library <1200px*/
  #library #active-song h2 {
    font-size: 2.8em;
  }

  #library #active-song .song-animation {
    display: none;
  }
}


@media screen and (max-width: 992px) {

  .single-playlist {
    width: calc((100% - 20px) / 2);
  }

  /*TOOLBAR*/
  #toolbar .add-to-favorites {
    flex-direction: column;
  }

  #toolbar .volume-bar-x {
    display: none;
  }

  #toolbar .vertical-volume-container {
    display: block;
  }

  /*Library <992px*/
  #library #active-song .song-information p,
  #library #active-song .song-information .likes .small-logo-container,
  #library table tbody tr td:nth-child(4),
  #library table thead tr th:nth-child(4) {
    display: none;
  }

  #library #active-song .song-information:not(h2) {
    font-size: 0.65em;
  }

  #library #active-song h2 {
    font-size: 1.75rem;
  }

}


@media screen and (max-width: 768px) {

  #content {
    min-width: calc(550px - 60px);
  }


  .single-playlist {
    width: 100%;
    padding-top: 50px
  }

  header {
    width: 60px;
  }

  #content {
    width: calc(100% - 60px);
  }

  #upgrade-banner {
    width: calc(100% - 60px);
  }

  header .header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  header .header-top li,
  header .header-bottom .download,
  header .header-bottom .profile {
    justify-content: center;
  }

  .header-icon {
    margin: 0;
  }

  header #logo {
    padding: 10px 2px;
  }

  header .header-playlists,
  header .header-bottom {
    padding: 10px;
  }

  header span,
  header .header-playlists,
  header .header-top .big-logo,
  .green-bar-y {
    display: none;
  }

  header .header-top .small-logo {
    display: block;
  }

  header .header-bottom .download {
    border-bottom: none;
  }


  /*TOOLBAR*/

  #toolbar .toolbar-left {
    flex-direction: column;
  }

  #toolbar .add-to-favorites {
    flex-direction: row;
    padding-left: 0;
  }

  #toolbar .track-img {
    display: none;
  }
}

@media screen and (max-height: 576px) {
  #upgrade-banner {
    display: none;
  }

  #content {
    padding-top: 0;
    min-height: 0;
  }
}