/*** MEDIA QUERY - MOBILE FIRST ***/
/*(min-width=da valore fino a infinito)*/

/* @media all and (min-width: 576px) {}

@media all and (min-width: 768px) {}

@media all and (min-width: 992px) {}

@media all and (min-width: 1200px) {}

@media all and (min-width: 1400px) {} */

/*** MEDIA QUERY - DESKTOP FIRST ***/
/*(max-width=da 0 fino a valore)*/

/* @media all and (max-width: 1400px) {}

@media all and (max-width: 1200px) {}

@media all and (max-width: 992px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 576px) {} */

@media screen and (max-width: 1200px) {

  .playlists,
  .playlists-container ul {
    flex-wrap: wrap;
  }

  .single-playlist {
    width: calc((100% - 60px) / 4);
  }
}


@media screen and (max-width: 992px) {

  .single-playlist {
    width: calc((100% - 20px) / 2);
  }

  /*TOOLBAR*/
  #toolbar .add-to-favorites {
    flex-direction: column;
  }

  #toolbar .volume-bar-x {
    display: none;
  }

  #toolbar .vertical-volume-container {
    display: block;
  }
}


@media screen and (max-width: 768px) {

  .single-playlist {
    width: 100%;
    padding-top: 50px
  }

  header {
    width: 60px;
  }

  #content {
    width: calc(100% - 60px);
  }

  #transparent-bar {
    width: calc(100% - 60px);
  }

  header .header-top li,
  header .header-bottom .download,
  header .header-bottom .profile {
    justify-content: center;
  }

  .header-icon {
    margin: 0;
  }

  header img,
  header .header-playlists,
  header .header-bottom {
    padding: 10px;
  }

  header span,
  header .header-playlists,
  header .header-top .big-logo,
  .green-bar-y {
    display: none;
  }

  header .header-top .small-logo {
    display: block;
  }

  header .header-bottom .download {
    border-bottom: none;
  }


  /*TOOLBAR*/

  #toolbar .toolbar-left {
    flex-direction: column;
  }

  #toolbar .add-to-favorites {
    flex-direction: row;
    padding-left: 0;
  }

  #toolbar .track-img {
    display: none;
  }





}