/*COLORS*/

:root {
  --color-content-background: #141922;
  --color-nav-background: #000000;
  --color-primary: #ffffff;
  --color-toolbar-background: #282828;
  --color-text-not-highlighted: #787a7f;
  --color-text-highlighted: #d2d2d2;
  --color-new-playlists: #a3a3a3;
  --color-text-underscore: #adff2f;
  --color-big-light-blue: #4d767d;
}

.text-color-content-background {
  color: var(--color-content-background);
}

.bg-color-content-background {
  background: var(--color-content-background);
}

.text-color-nav-background {
  color: var(--color-nav-background);
}

.bg-color-nav-background {
  background: var(--color-nav-background);
}

.text-color-primary {
  color: var(--color-primary);
}

.bg-color-primary {
  background: var(--color-primary);
}

.text-color-toolbar-background {
  color: var(--color-toolbar-background);
}

.bg-color-toolbar-background {
  background: var(--color-toolbar-background);
}

.text-color-text-not-highlighted {
  color: var(--color-text-not-highlighted);
}

.bg-color-text-not-highlighted {
  background: var(--color-text-not-highlighted);
}

.text-color-text-highlighted {
  color: var(--color-text-highlighted);
}

.bg-color-text-highlighted {
  background: var(--color-text-highlighted);
}

.text-color-new-playlists {
  color: var(--color-new-playlists);
}

.bg-color-new-playlists {
  background: var(--color-new-playlists);
}

.text-color-text-underscore {
  color: var(--color-text-underscore);
}

.bg-color-text-underscore {
  background: var(--color-text-underscore);
}

/*DOCUMENT*/
body {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  color: var(--color-text-not-highlighted);
}

img {
  width: 100%;
  display: block;
}

#app {
  height: 100vh
}

a {
  color: inherit;
}

/*UTILITY*/

.circle-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.circle-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.highlighted:hover {
  color: var(--color-text-highlighted);
  cursor: pointer
}

/******MAIN CONTENT****/

#main-content {
  height: calc(100vh - 95px);
  display: flex;
}


/*header*/

header {
  width: 200px;
  height: 100%;
  font-weight: bold;
  font-size: 0.8em;
}

header #logo,
header .header-playlists,
header .header-bottom {
  padding: 20px
}


header .header-playlists li,
.profile,
.download {
  padding: 8px 0;
}

/*header-top*/


#logo {
  width: 80%;
}

header .header-top>ul li {
  padding: 5px 20px;

}

.plus {
  font-size: 2em;
  width: 35px;
  height: 35px;
  background-color: var(--color-new-playlists);
  line-height: 35px;
  color: var(--color-nav-background);
  border-radius: 1px;
  margin-right: 10px;
}

.header-icon {
  width: 35px;
  margin-right: 5px;
}

.header-icon path {
  fill: var(--color-text-not-highlighted)
}

.download {
  border-bottom: var(--color-text-not-highlighted) 1px solid;
}

.download .header-icon {
  width: 20px;
}


header .header-top>ul li:hover {
  padding: 5px 15px;
  border-left: var(--color-text-underscore) solid 5px;
}

/*header-bottom*/
.profile .header-icon {
  width: 25px;
  background-color: white
}

header li:hover .header-icon path,
header .header-bottom .download:hover .header-icon path {
  fill: var(--color-primary);
}

header li:hover .plus {
  background-color: var(--color-primary);
}



/****CONTENT*****/

#content {
  width: calc(100% - 200px);
  position: relative;
}

/*upgrade-banner*/
#upgrade-banner {
  top: 0;
  height: 70px;
  width: calc(100% - 200px);
  position: fixed;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.5);
}

#upgrade-banner .upgrade {
  margin: 0 50px;
  font-size: 0.7em;
  color: var(--color-primary);
  border: var(--color-primary) 1px solid;
  padding: 10px 40px;
  border-radius: 50px;
}

#upgrade-banner .upgrade:hover {
  font-size: 0.8em;
  padding: 15px 50px;
  margin: 0 40px;
}


/*plalistis + ul*/
#content p {
  color: var(--color-text-not-highlighted);
}

#content ul li {
  padding: 10px 20px;
}

#content ul li a:hover .green-bar-x {
  opacity: 1;
  transition: 0.3s;
}

section {
  padding: 40px 0;
}

#content h2 {
  font-size: 2.5em;
  padding: 10px 0;
}

.playlists {
  padding-top: 50px;
}

.single-playlist h3 {
  padding: 20px 0 10px 0;
}

.single-playlist {
  width: calc((100% - 100px) / 6);
}

/*HOVER & BONUS*/
/*hover img*/

.playlist-img-container {
  position: relative;
  overflow: hidden;
}

.playlist-img-container:hover .play-hover {
  display: flex;
}

.play-hover {
  display: none;
  color: var(--color-primary);
  background-color: rgba(0, 0, 0, 0.5);
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 4em;
}


.green-bar-x {
  height: 2px;
  width: 50%;
  margin: 0 auto;
  opacity: 0;
  background-color: var(--color-text-underscore);
}

/*TOOLBAR*/

#toolbar {
  height: 95px;
  padding: 15px;
}

#toolbar .add-to-favorites {
  padding: 0 20px;
}

#toolbar .track-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#toolbar i {
  margin: 10px;
  cursor: pointer;
}

#toolbar .toolbar-center {
  padding-bottom: 20px;
}

.progress,
.active-progress,
.volume-bar-x {
  height: 4px;
  border-radius: 10px;
  margin: 0 10px;
  background-color: var(--color-text-not-highlighted);
  cursor: pointer;
}

.progress {
  width: 40vw;
}

.volume-bar-x {
  width: 10vw;
}

.vertical-volume-container {
  position: absolute;
  left: 0;
  bottom: 15px;
  height: 0%;
  width: 20px;
  background-color: var(--color-toolbar-background);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.volume-bar-y {
  height: calc(100% - 10px);
  margin: 5px auto;
  background-color: var(--color-text-not-highlighted);
  width: 4px;
}

#toolbar .toolbar-right .fa-volume-high:hover .vertical-volume-container {
  animation: open-menu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


/*HOVER TOOLBAR*/


/*progress hover*/
#toolbar .play-bar-hover {
  position: absolute;
  align-items: center;
  width: 40vw;
  left: 0;
  top: -7px
}

#toolbar .play-bar-hover i,
#toolbar .audio-bar-hover i {
  margin: 0;
}

#toolbar .play-bar-active {
  width: 4vw;
  background-color: #adff2f;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
}

#toolbar .progress:hover .play-bar-hover,
#toolbar .volume-bar-x:hover .audio-bar-hover {
  display: flex;
}

/*audio*/
#toolbar .audio-bar-hover {
  position: absolute;
  align-items: center;
  width: 10vw;
  left: 0;
  top: -7px
}

.audio-bar-active {
  width: 1vw;
  background-color: #adff2f;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
}



/***************************************LIBRARY***************************************/

/**/
#library #content {
  background-image: linear-gradient(var(--color-big-light-blue), rgba(0, 0, 0));
}

#library #active-song .img-container {
  box-shadow: #333232 5px 5px 50px 3px;
  margin: 20px 40px;
}

#library #active-song .song-information {
  width: 50%;
  margin: 20px;
  padding: 0 5px;
}

#library #active-song h2 {
  font-size: 7em;
  padding: 0
}

#library #active-song .likes {
  padding: 10px 0;
}

#library #active-song .small-logo-container {
  width: 30px;
}

/*table*/

#library table {
  text-align: left;
  border-spacing: 0 20px;
  border-collapse: collapse;
}

#library table thead {
  padding: 10px;
  border-bottom: #000000 1px solid;
}


#library table tr {
  padding: 30px;
}

#library .small-img-container {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 15px;
}